<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rwth">

    <application
        >
        <activity
            android:name=".TechDemoLauncher"
            android:label="TechDemoLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
